{% include "./base/header.html" %}

    <!--Add review form here -->
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            <div class="container">
                {% csrf_token %}
                <h1>Add review</h1>
                <hr>
                <div class="form-group">
                    <label for="content" class="form-label"><b>Review</b></label>
                    <textarea class="form-control" name="content" id="content" rows="2" required></textarea>
                    <br>
                    <label for="purchasecheck" class="form-label"><b>Purchased car</b></label>
                    <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                    <br>
                    <label for="car" class="form-label"><b>Car</b></label>
                    <select class="form-select" name="car" id="car" required>
                        {% for car in cars %}
                        <option value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="purchasedate" class="form-label"><b>Purchase date</b></label>
                    <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                    <br>
                    </div>
                    <button class="btn btn-primary" type="submit">Add review</button>
                </div>
            </div>
        </form>
    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
            format: 'mm/dd/yyy'
        });
    </script>
</html>