{% include "./base/header.html" %}
    <!--Contact method -->
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Contact Us!</h1>
                <p class="lead">Please reach out to us with any questions or concerns</p>
                <hr class="my-4">
                <b>Best Cars</b><br>
                1234 Normal Street<br>
                Ypsilanti, MI 48197<br><br>
                Phone: 734-123-4567<br>
                Fax: 734-9878-6543<br>
                contact@bestcars.ninja<br><br>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="mailto:contact@bestcars.fake" role="button">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        Contact Us!
                    </a>
                </p>
            </div>
        </div>
    </body>

</html