{% include "./base/header.html" %}

    <!--Add a dealer table here -->
        <table class="table" id="table" data-filter-control="true">
            <thead>
                <tr>
                    <th scope="col" data-field="id">ID</th>
                    <th scope="col" data-field="full_name">Dealer Name</th>
                    <th scope="col" data-field="city">City</th>
                    <th scope="col" data-field="address">Address</th>
                    <th scope="col" data-field="zip">Zip</th>
                    <th scope="col" data-field="st" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealerships %}
                <tr>
                    <th scope="row">{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name }}</a></td>
                    <td>{{ dealer.city }}</td>
                    <td>{{ dealer.address }}</td>
                    <td>{{ dealer.zip }}</td>
                    <td>{{ dealer.st }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

    <script>
        $(function() {
            $('#table').bootstrapTable()
        })
    </script>

</html>
